{% extends 'base.html.twig' %}

{% block title %}section recettes{% endblock %}

{% block body %}

    <h1>section recettes</h1>
    <ul>
        <li>
            <a href="{{ path('recipe.show', {'slug': 'recette-1', 'id': 1}) }}">recette 1</a>
        </li>
        <li>
            <a href="{{ path('recipe.show', {'slug': 'recette-2', 'id': 2}) }}">recette 2</a>
        </li>
    </ul>
    
{% endblock %}
