{% extends 'base.html.twig' %}

{% block title %}section recettes{% endblock %}

{% block body %}

    <h1>section recettes</h1>
    <ul>
        {% for recipe in recettes %}
            <li>
                <a href="{{ path('recipe.show', {'slug': recipe.slug, 'id': recipe.id}) }}">{{ recipe.titre² }}</a>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
