{% extends "base.html.twig" %}

{% block title %}{{ recette.titre }}{% endblock %}

{% block body %}
    <h1>{{ recette.titre }}</h1>
    <p>{{ recette.duration }}min</p>

    <p>{{ recette.description|nl2br }}</p>
    
{% endblock %}